html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

.container {
      display: table;
      height: 400px;
      margin: 0 auto;
      width: 100%;
}

.sidekicks {
      padding: 200px;
      text-align: center;
      display: table-cell;   
      font-size: 70px;
      color: #1e272e;
      letter-spacing: 2px;
      font-weight: bold;
}

.loan {
      padding: 1px;
      text-align: center;
      vertical-align: middle;  
      font-size: 40px;
      color: #1e272e;
      letter-spacing: 2px;
      font-weight: bold;
}



body {
      font-family: Quicksand;
      font-weight: normal;
      /*background-color: #1e272e;*/
}

header {
      width: 100%;
      height: 100vh;
      background-image: url(images/test7.jpg);
      background-size: cover;
}

.content {
      margin-top: 80px;
      width: 900px;
      margin: 30px auto;
      text-align: justify;
      font-size: 20px;
      line-height: 30px;
      color: #1e272e;
}

.logo {
      line-height: 30px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #1e272e;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 2px;
      transition: .3s;
}

nav.black .logo {
      color: #fff;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 30px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: .3s;
}

nav.black ul {
      background: rgba(0,0,0,0.8);
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #1e272e;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      transition: .3s;
}

nav.black ul li a {
      color: #fff;
}

.link::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #1e272e;
      transition: width .3s;
}

.link:hover::after {
      width: 100%;
      transition: width .3s;
}

nav.black .link::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #fff;
      transition: width .3s;
}

nav.black .link:hover::after {
      width: 100%;
      transition: width .3s;
}

#prequal-button {
      background-color: #2f3d47;
      border: none;
      color: #fff;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      border-radius: 3px;
      font-weight: normal;
      cursor: pointer;
}

#prequal-button:hover {
      background-color: #1e272e;
      transition: 0.3s;
}